@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Robotoフォントクラス */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

::selection {
  background: #8dfe30;
}

@layer base {
  .prose {
    & > h1 {
      @apply text-4xl;
      @apply font-bold;
      @apply my-8 md:my-12;
    }
    & > h2 {
      @apply text-3xl;
      @apply font-bold;
      @apply my-8 md:my-12;
    }
    & > p {
      @apply my-8 md:my-12;
      @apply leading-loose;
    }
    & > figure {
      @apply my-8 md:my-12;
    }
    & > ul {
      @apply list-disc;
      @apply pl-5;
    }
    & > table {
      @apply w-full;
      @apply border-collapse;
      @apply my-8 md:my-12;
      th {
        @apply py-2 px-6;
        @apply bg-gray-900;
        @apply border;
        @apply border-solid;
        @apply border-gray-900;
        p {
          @apply text-white;
        }
      }
      td {
        @apply py-2 px-6;
        @apply border;
        @apply border-solid;
        @apply border-gray-900;
      }
    }
  }
}

@layer components {}

@layer utilities{}